.kinobulan{
	height: 93vh;
	width: 88%;
	margin-left: 12%;
	overflow-y: scroll;
}
#hmgindood{
	width: 100%;
	height: 10vh;
	float: left;
	margin-top: 5%;
}
#gemt0d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt0{
	width: 100%;
	height: 50vh;
}
#gemt0:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt0p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt0:hover+#gemt0p{
	display: block;
}
#gemt1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt1{
	width: 100%;
	height: 50vh;
}
#gemt1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt1p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt1:hover+#gemt1p{
	display: block;
}
#gemt2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt2{
	width: 100%;
	height: 50vh;
}
#gemt2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt2p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt2:hover+#gemt2p{
	display: block;
}
#gemt3d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt3{
	width: 100%;
	height: 50vh;
}
#gemt3:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt3p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt3:hover+#gemt3p{
	display: block;
}
#gemt11d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt11{
	width: 100%;
	height: 50vh;
}
#gemt11:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt11p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt11:hover+#gemt11p{
	display: block;
}
#gemt12d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt12{
	width: 100%;
	height: 50vh;
}
#gemt12:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt12p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt12:hover+#gemt12p{
	display: block;
}
#adal1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#adal1{
	width: 100%;
	height: 50vh;
}
#adal1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#adal1p{
	float: top;
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#adal1:hover+#adal1p{
	display: block;
}
#ineed2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#ineed2{
	width: 100%;
	height: 50vh;
}
#ineed2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#ineed2p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#ineed2:hover+#ineed2p{
	display: block;
}
#adal3d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#adal3{
	width: 100%;
	height: 50vh;
}
#adal3:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#adal3p{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#adal3:hover+#adal3p{
	display: block;
}
#gemt1dw{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt1w{
	width: 100%;
	height: 50vh;
}
#gemt1w:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt1pw{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt1w:hover+#gemt1pw{
	display: block;
}
#gemt2dg{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt2g{
	width: 100%;
	height: 50vh;
}
#gemt2g:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt2pg{
	margin-top: 1%;
	font-size: 21px;
	text-align: center;
	display: none;
	color: orange;
}
#gemt2g:hover+#gemt2pg{
	display: block;
}