body{
	background: url(turshilt.jpg) top center/ cover no-repeat;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
body,html{
	margin: 0;
}
.deed{
	width: 100%;
	height: 7vh;
	background: rgba( 255, 255, 255, 0.3);
}
.b1{
	font-size: 2.5vh;
	margin-top: 2vh;
	margin-left: 1%;
	margin-bottom: 0;
	float: left;
	border: 2px solid white;
	color: white;
}
.accpro{
	width: 4vh;
	height: 4vh;
	float: right;
	margin-top: 1.3vh;
	margin-right: 0.5%;
	border-radius: 100%;
	border: 1px solid white;
}
.garah{
	float: right;
	margin-right: 1.5%;
	margin-top: 2vh;
	font-size: 2.1vh;
	color: white;
}
.garah:hover{
	float: right;
	margin-right: 1.5%;
	margin-top: 1.8vh;
	font-size: 2.1vh;
	border-bottom: 1.5px solid white;
}
.dood{
	width: 100%;
	height: 93vh;
}
#div1{
	width: 15%;
	height: 70vh;
	float: left;
	margin-top: 9vh;
	margin-left: 21%;
}
.moviepro{
	width:100%;
	height: 32vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.movietext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
}
.moviepro:hover+.movietext{
	display: block;
	margin-bottom: -3.1vh;
}
#div2{
	width: 15%;
	height: 70svh;
	float: left;
	margin-top: 9vh;
	margin-left: 6.5%;
}
.bookpro{
	width: 100%;
	height: 32vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.booktext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
}
.bookpro:hover+.booktext{
	display: block;
	margin-bottom: -3.1vh;
}
#div3{
	width: 15%;
	height: 70vh;
	float: left;
	margin-top: 9vh;
	margin-left: 6.5%;
}
.travelpro{
	width: 100%;
	height: 32vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.traveltext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
}
.travelpro:hover+.traveltext{
	display: block;
	margin-bottom: -3.1vh;
}
.podcastpro{
	width: 100%;
	height: 32vh;
	margin-top: 6vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.podcasttext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
}
.podcastpro:hover+.podcasttext{
	display: block;
}
.sodonpro{
	width: 100%;
	height: 32vh;
	margin-top: 6vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.sodontext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
	color: white;
}
.sodonpro:hover+.sodontext{
	display: block;
}
.progresspro{
	width: 100%;
	height: 32vh;
	margin-top: 6vh;
	border-radius: 15px;
	border: 0.3vh solid white;
}
.progresstext{
	font-size: 2.5vh;
	text-align: center;
	margin-top: 0;
	border-bottom: 2px solid white;
	display: none;
	color: white;
}
.progresspro:hover+.progresstext{
	display: block;
}
a{
	text-decoration: none;
	color: white;
}
.animet{
	font-size: 3vh;
	color: white;
	position: absolute;
	text-align: center;
	animation: pmove 10s;
	top: 90vh;
	left: -50%;
	border-bottom: 0.1vh solid white;
}
@keyframes pmove{
	0%{
		top: 90vh;
		left: -50%;
	}
	30%{
		top: 90vh;
		left: 1%; 
	}
	70%{
		top: 90vh;
		left: 1%; 
	}
	100%{
		top: 90vh;
		left: -50%;
	}
}






