.kinobulan{
	height: 93vh;
	width: 88%;
	margin-left: 12%;
	overflow-y: scroll;
}
#gemt0d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt0{
	width: 100%;
	height: 50vh;
}
#gemt0:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt0p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#gemt0:hover+#gemt0p{
	display: block;
}
#adal1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#adal1{
	width: 100%;
	height: 50vh;
}
#adal1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#adal1p{
	float: top;
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#adal1:hover+#adal1p{
	display: block;
}
#aimshig1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#aimshig1{
	width: 100%;
	height: 50vh;
}
#aimshig1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#aimshig1p{
	float: top;
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#aimshig1:hover+#aimshig1p{
	display: block;
}
#cartoon1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#cartoon1{
	width: 100%;
	height: 50vh;
}
#cartoon1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange
}
#cartoon1p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#cartoon1:hover+#cartoon1p{
	display: block;
}
#gemt1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt1{
	width: 100%;
	height: 50vh;
}
#gemt1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt1p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#gemt1:hover+#gemt1p{
	display: block;
}
#ineed1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#ineed1{
	width: 100%;
	height: 50vh;
}
#ineed1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#ineed1p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#ineed1:hover+#ineed1p{
	display: block;
}
#tsuv1d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#tsuv1{
	width: 100%;
	height: 50vh;
}
#tsuv1:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#tsuv1p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#tsuv1:hover+#tsuv1p{
	display: block;
}
#tsuv2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#tsuv2{
	width: 100%;
	height: 50vh;
}
#tsuv2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#tsuv2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#tsuv2:hover+#tsuv2p{
	display: block;
}
#ineed2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#ineed2{
	width: 100%;
	height: 50vh;
}
#ineed2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#ineed2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#ineed2:hover+#ineed2p{
	display: block;
}
#gemt2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#gemt2{
	width: 100%;
	height: 50vh;
}
#gemt2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#gemt2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#gemt2:hover+#gemt2p{
	display: block;
}
#cartoon2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#cartoon2{
	width: 100%;
	height: 50vh;
}
#cartoon2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#cartoon2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#cartoon2:hover+#cartoon2p{
	display: block;
}
#aimshig2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#aimshig2{
	width: 100%;
	height: 50vh;
}
#aimshig2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#aimshig2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#aimshig2:hover+#aimshig2p{
	display: block;
}
#adal2d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#adal2{
	width: 100%;
	height: 50vh;
}
#adal2:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#adal2p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#adal2:hover+#adal2p{
	display: block;
}
#adal3d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#adal3{
	width: 100%;
	height: 50vh;
}
#adal3:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#adal3p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#adal3:hover+#adal3p{
	display: block;
}
#aimshig3d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#aimshig3{
	width: 100%;
	height: 50vh;
}
#aimshig3:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#aimshig3p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#aimshig3:hover+#aimshig3p{
	display: block;
}
#cartoon3d{
	width: 20%;
	height: 50vh;
	margin-left: 4%;
	margin-top: 4%;
	float: left;
}
#cartoon3{
	width: 100%;
	height: 50vh;
}
#cartoon3:hover{
	width: 100%;
	height: 50vh;
	border: 2px solid orange;
}
#cartoon3p{
	margin-top: 1%;
	font-size: 2.2vh;
	text-align: center;
	display: none;
	color: orange;
}
#cartoon3:hover+#cartoon3p{
	display: block;
}
#button2{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 41.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: orange;
}
#button3{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: orange;
}
#button4{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: white;
}
#button5{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: white;
}
#button6{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: white;
}
#button7{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: white;
}
#button8{
	float: left;
	margin-top: 1%;
	width: auto%;
	height: auto%;
	margin-left: 0.5%;
	padding-left: 0.7%;
	padding-right: 0.7%;
	background: orange;
}
#hmgindood{
	width: 100%;
	height: 10vh;
	float: left;
	margin-top: 5%;
	margin-bottom: 5%;
}




