body{
	background: url(bookbg.jpg) top center/ cover no-repeat;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
body,html{
	margin: 0;
}
.deed{
	width: 100%;
	height: 7vh;
	background: rgba( 255, 255, 255, 0.5);
}
.b1{
	font-size: 2.5vh;
	margin-top: 2vh;
	margin-left: 1%;
	margin-bottom: 0;
	float: left;
	border: 2px solid rgb(64, 224, 208);
	color: rgb(64, 224, 208);
}
.accpro{
	width: 4vh;
	height: 4vh;
	float: right;
	margin-top: 1.3vh;
	margin-right: 0.5%;
	border-radius: 100%;
	border: 1px solid rgb(64, 224, 208);
}
input{
	float: right;
	width: 10%;
	padding: 1vh;
	margin-top: 1.5vh;
	margin-right: -0.1%;
	padding-left: 1.7%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#button1{
	float: right;
	margin-right: 1%;
	padding: 1vh;
	margin-top: 1.5vh;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.garah{
	float: right;
	margin-right: 1.5%;
	margin-top: 2vh;
	font-size: 2.1vh;
	color: rgb(64, 224, 208);
}
.garah:hover{
	float: right;
	margin-right: 1.5%;
	margin-top: 1.8vh;
	font-size: 2.1vh;
	border-bottom: 1.5px solid rgb(64, 224, 208);
}
.dood{
	width: 60%;
	height: 70vh;
	margin-left: 20%;
	margin-top: 10vh;
}
.dot1{
	float: left;
	width: 25%;
	height: 40vh;
}
.dotz1{
	width: 100%;
	height: 40vh;
	border-radius: 10px;
}
.dot2{
	width: 70%;
	height: 70vh;
	background: rgba(255, 255, 255, 0.2);
	float: left;
	margin-left: 2.5%;
	overflow-y: scroll;
}
.bich1{
	margin-left: 2%;
	margin-top: 1vh;
	font-size: 3vh;
	color: rgb(64, 224, 208);
}
.bich2{
	margin-left: 2%;
	margin-top: 1vh;
	font-size: 2.2vh;
    color: rgb(64, 224, 208);
}
.bich3{
	margin-left: 2%;
	margin-top: 1vh;
	font-size: 2.2vh;
	color: rgb(64, 224, 208);
}
.bich4{
	margin-left: 5%;
	margin-top: 1vh;
	font-size: 2vh;
	color: rgb(64, 224, 208);
	padding-right: 5%;
}
.bich5{
	margin-left: 2%;
	margin-top: 1vh;
	font-size: 2.2vh;
	color: rgb(64, 224, 208);
}
.unshih{
	font-size: 2vh;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin: 2%;
	float: right;
}