.travelbulan{
	height: 93vh;
	width: 88%;
	margin-left: 12%;
}
.zurag{
	width: 100%;
	height: 93vh;
}
.gzr{
	font-size: 1.2vh;
}
.gzr2{
	font-size: 2vh;
	float: right;
	margin-top: 0vh;
	margin-bottom: 0vh;
}